asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers
django-extensions
django-storages
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
idna
jmespath
oauthlib
psycopg2-binary==2.9.9
pycparser
pygraphviz
PyJWT
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
s3transfer
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
